.red {
	background-color: red;
	padding-top: 100px;
	height: 250px;
	width: 600px;
}

.green {
	background-color: green;
	height: 100px;
	width: 600px;
}


.blue {
	background-color: blue;
	height: 500px;
	width: 600px;
}

.purple {
	background-color: purple;
	height: 500px;
	width: 400px;
	float:right;
}

.yellow {
	background-color: yellow;
	height: 500px;
	width: 200px;
	float: right;
}

